/* 
    Created on : Jan 5, 2014, 2:00:06 PM
    Author     : michael
	To be merged to some bigger style management.
*/

.pull-right {
	float: right;
}

.button-box {
	background-color: lightskyblue;
	border: 1px solid blue;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
	padding: 4px;
}

.placeholder {
	border-radius: 5px;
	background-color: #AAA;
	color: #EEE;
	padding: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75) inset;
}