/* 
    Created on : Jan 5, 2014, 2:00:06 PM
    Author     : michael
	To be merged to some bigger style management.
*/

.pull-right {
	float: right;
}

.button-box {
	background-color: lightskyblue;
	border: 1px solid blue;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
	padding: 4px;
}

.space-bottom {
	margin-bottom: 1em;
}
.space-right {
	margin-right: 1em;
}

.placeholder {
	border-radius: 5px;
	background-color: #AAA;
	color: #EEE;
	padding: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.75) inset;
}

.helpText {
	background-color: #CCF;
	font-size: smaller;
	position: relative;
	padding-left: 2em;
}

.helpText:before {
	content:"?";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width: 1em;
	text-align: center;
	vertical-align: middle;
	background-color: blue;
	color: white;
	margin-right: 4px;
	line-height: 1em;
	padding: 4px;
}

ul.navigationLinks {
	padding: 4px;
	border: 1px solid #DDD;
	background-color: #EEE;
}

ul.navigationLinks li {
	display: inline-block;
	padding: 0;
	padding-left: 1em;
}

ul.navigationLinks li a:hover {
	color: blue;
}

ul.navigationLinks li a:active {
	color: red;
}

ul.navigationLinks li:first-child {
	padding-left: 0;
}