/* -------- TEMPLATE -------- */
.panelgridHeaderTable {width:100%;}
.panelgridHeaderTable .ui-widget-content, .panelgridHeaderTable .ui-widget-content > td {border:0; background:none;}
.panelgridHeaderTable .ui-widget-content > td:last-child table {margin-left:auto;}

.panelLayoutBlock, .panelLayoutTitleBlock, .panelLayoutButtonBlock {border:0;}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content, .panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content > td {border:0;}

.panelgridLayoutTable, .panelgridFormTable {width:100%;}
.panelgridFormTable > tbody > tr.ui-widget-content > td:first-child {width:20%;}

.panelLayoutButtonBlock button {margin-right:2em;}

.panelLayoutBlock > .ui-widget-content {border-bottom:1px solid #DDDDDD;}
.panelLayoutBlock.breadcrumbNavBlock > .ui-widget-content {border-bottom:0;}
.panelLayoutTitleBlock > .ui-widget-content {border:0;}

.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid {margin-bottom: 1em;}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid .ui-widget-content .ui-panelgrid {margin-bottom: 0}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid .ui-widget-content .ui-panelgrid td:first-child {padding-left:0;}

.rightClass {text-align: right;}

.dataverseChildren .ui-datalist-data {padding-left:1em;}
.dataverseChildren .ui-datalist-data li.ui-datalist-item {list-style-type:none; margin-left:0; margin-bottom:6px;}


/* -------- SEARCH -------- */
.searchTypeButton {display:block; border:1px solid #DDD; padding:4px 0; margin-bottom: .5em;}

em {background-color: yellow;}

div[id$='facetCategoryList'] {padding:4px; border:1px solid #DDD;}
div[id$='facetCategoryList'] ul, div[id$='facetCategoryList'] li, div[id$='facetCategoryList'] div {margin:0; padding:0; list-style: none; border:0;}
div[id$='facetCategoryList'] > div > ul > li {border-bottom:1px solid #DDD; margin-bottom:.5em;}
div[id$='facetCategoryList'] div li div {padding:4px 0px;}
div[id$='facetCategoryList'] div li div.ui-datalist-empty-message {padding:4px 0px; font-style:italic; color:#AAA;}
.facetCategoryName {font-weight:bold;}