/*--------- BODY --------- */
body {/*margin-top:50px;*/}
body .ui-widget {font-size: inherit;}
.ui-widget-content a {color: #428BCA;}
.ui-widget-content a:hover, .ui-widget-content a:focus {color: #2A6496;}

/* -------- TEMPLATE -------- */
.panelgridHeaderTable {width:100%;}
.panelgridHeaderTable .ui-widget-content, .panelgridHeaderTable .ui-widget-content > td {border:0; background:none;}
.panelgridHeaderTable .ui-widget-content > td:last-child table {margin-left:auto;}

#navbarFixed {margin-bottom:0;}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 930;
}
#navbarFixed .navbar-brand {color:#C55B28; padding-left:34px;background: url(/resources/images/logo_dataverse.png) no-repeat left center;background-size:20% auto;}
#navbarFixed .label.beta {display:block; float:left; margin-top:12px; background:#C55B28; font-size:18px; font-weight:normal;}

#navbarFixed #navbar-search-toggle {cursor: pointer; cursor: hand;}
#navbarFixed .dropdown.accountName .label.label-danger {margin-left:.5em; line-height:normal; vertical-align:text-top;}
#navbarFixed .dropdown.accountName .logout form {margin:0; padding:0; width:100%;}
#navbarFixed .dropdown.accountName .logout a {clear: both; color: #333333; display: block; font-weight: normal; line-height: 1.42857; padding: 3px 20px; white-space: nowrap; text-decoration: none;}
#navbarFixed .dropdown.accountName .logout a:hover, #navbarFixed .dropdown.accountName .logout a:focus {background-color: #E8E8E8; background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%); background-repeat: repeat-x; color: #262626; outline: 0; text-decoration: none;}

.panelLayoutBlock, .panelLayoutTitleBlock, .panelLayoutButtonBlock {border:0;}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content, .panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content > td {border:0;}

.panelgridLayoutTable, .panelgridFormTable {width:100%;}
.panelgridFormTable > tbody > tr.ui-widget-content > td:first-child {width:20%;}
.panelgridFormTable.ui-panelgrid td table.ui-picklist td {border: 0; padding:0;}
.panelgridFormTable.ui-panelgrid td table.ui-picklist td ul.ui-widget-content.ui-corner-all {border:1px solid #DDDDDD; border-radius: 4px;}

.panelLayoutButtonBlock button {margin-right:2em;}

.panelLayoutBlock > .ui-widget-content {border-bottom:1px solid #DDDDDD;}
.panelLayoutBlock.breadcrumbNavBlock > .ui-widget-content {border-bottom:0;}
.panelLayoutTitleBlock > .ui-widget-content {border:0;}

.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid {margin-bottom: 1em;}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid .ui-widget-content .ui-panelgrid {margin-bottom: 0}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid .ui-widget-content .ui-panelgrid td:first-child {padding-left:0;}

button.btn.dropdown-toggle span.glyphicon {margin-right:.3em;}

.messagePanel {margin-top:1em; font-size: 1em;}
.messagePanel .glyphicon {font-size: 1.5em; vertical-align: bottom;}

.highlightBold {font-weight:bold;}

#footer {padding-bottom:4em;}

/* -------- HEADER -------- */
#dataverseHeader {margin:0 auto .5em auto; background:#F5F5F5;}
#dataverseHeader .dataverseHeaderBlock {display:table-row;}
#dataverseHeader .dataverseHeaderCell {display:table-cell;}
#dataverseHeader .dataverseHeaderLogo {text-align:center;}
#dataverseHeader .dataverseHeaderName {padding:2em 1em;}
#dataverseHeader .dataverseHeaderName span.label.label-danger {vertical-align:text-top; line-height: normal; margin-left:1em;}
#dataverseHeader .dataverseHeaderTagline {padding-left:2em; font-size:1.3em;}
#dataverseHeader .dataverseHeaderLink {padding-left:2em;}

/* -------- BREADCRUMBS -------- */
#breadcrumbNavBlock .breadcrumbBlock {float:left; position:relative;}
#breadcrumbNavBlock .breadcrumbActive {font-weight:bold;}
#breadcrumbNavBlock a[id^='breadcrumbLnkTree'] {cursor: pointer; cursor: hand;}
#breadcrumbNavBlock a[id^='breadcrumbLnkTree'] span.glyphicon-chevron-down {vertical-align:middle;padding-bottom:2px;}

#breadcrumbNavBlock > .ui-panel-content {overflow:hidden;}
        
#breadcrumbNavBlock.panelLayoutBlock > .ui-widget-content {border-bottom: 0;}

#breadcrumbNavBlock .breadcrumbCarrot {float:left; margin:0 .4em 0 .8em; color:#B3B3B3;}

#breadcrumbNavBlock div.dropdown-menu {padding-right:.5em; min-width:280px;}

#breadcrumbNavBlock .ui-tree {width: auto;}

#breadcrumbNavBlock div.ui-tree.ui-widget-content {border:0;}
#breadcrumbNavBlock div.ui-tree.ui-widget-content span.ui-treenode-content span.ui-icon.ui-tree-toggler {background-size: auto 284px; height:20px; width:20px;}
#breadcrumbNavBlock div.ui-tree.ui-widget-content span.ui-treenode-content span.ui-icon.ui-tree-toggler.ui-icon-triangle-1-s {background-position: -72px -16px;}
#breadcrumbNavBlock div.ui-tree.ui-widget-content span.ui-treenode-content span.ui-icon.ui-tree-toggler.ui-icon-triangle-1-e {background-position: -35px -16px;}

/* -------- DATAVERSE -------- */
form[id$='dataverseForm'] .panelLayoutBlock .form-horizontal table.ui-panelgrid.ui-widget,
form[id$='dataverseForm'] .panelLayoutBlock .form-horizontal table.ui-panelgrid.ui-widget tr, 
form[id$='dataverseForm'] .panelLayoutBlock .form-horizontal table.ui-panelgrid.ui-widget td {border:0;}

form[id$='dataverseForm'] .panelLayoutBlock .form-horizontal div.form-group {vertical-align: middle;}

div.ui-chkbox.metadata-blocks-default div.ui-chkbox-box, div.ui-chkbox.facet-category-default div.ui-chkbox-box, table.ui-selectmanycheckbox.metadata-blocks-select div.ui-chkbox-box {margin: 4px 10px;}
div.ui-chkbox.metadata-blocks-default span.ui-chkbox-label, div.ui-chkbox.facet-category-default span.ui-chkbox-label, table.ui-selectmanycheckbox.metadata-blocks-select label {margin: 1px 10px 4px 10px;}

table.ui-selectmanycheckbox.metadata-blocks-select label {font-weight:normal; margin-top:1px;}
table.ui-selectmanycheckbox.metadata-blocks-select label.ui-state-disabled {background:inherit;}

.owl-carousel {margin-bottom:1em;}
.owl-carousel .item {text-align: center; padding: 10px; border: 1px solid #e3e3e3; border-radius: 4px; margin: 10px;}

/* -------- SEARCH -------- */
.panelLayoutBlock.panelSerchForm > .ui-widget-content {border:0;padding:0;}
.panelLayoutBlock.panelSerchForm input.ui-inputfield {margin-right:1em;}
.panelLayoutBlock.panelSerchForm a[id$='searchbutton'] {color:black;font-size:.9em;}
.panelLayoutBlock.panelSerchForm a[id$='searchbutton'] span.glyphicon {margin-right:.3em;}
.panelLayoutBlock.panelSerchForm a[id$='advsearchlink'] {margin-left:1em;}

#dv-sidecolumn {width:20%;float:left;padding-right:1em;}
#dv-maincolumn {width:80%;float:left;}

.searchTypeButton {display:block; border:1px solid #DDD; padding:4px 0; margin-bottom: .5em;}

/*#resultsCountPaginatorBlock {overflow:hidden;}*/
#resultsCountPaginatorBlock div.results-count {width:25%; padding: 6px 12px; margin-top: 1px; font-weight:bold;}
#resultsCountPaginatorBlock div.results-sort-pagination {width:70%; text-align:right;}
#resultsCountPaginatorBlock .pagination {margin:0;}

span.search-term-match {font-weight: bold;}
div[id$='resultsTable'] div.ui-datatable-tablewrapper table td > div {clear:left; margin-bottom: .5em;}
div[id$='resultsTable'] div.ui-datatable-tablewrapper table td > div > span.label {vertical-align:text-bottom; line-height: normal; margin-left:.5em;}
div[id$='resultsTable'] .resultDatasetCitationBlock {display:block;margin:4px 0 .5em 60px;padding:4px;}
div[id$='resultsTable'] .resultDatasetCitationBlock span.search-term-match {font-weight: normal;}

form[id$='facetType'] > div.clearfix {margin-bottom:4px;}
form[id$='facetType'] > div.clearfix:last-child {margin-bottom:0;}
form[id$='facetType'] > div.clearfix .facetTypeChBox {display:block; float:left;}
form[id$='facetType'] > div.clearfix .facetTypeChBox > div.ui-chkbox {padding-top:2px;padding-right:4px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink {display:block; float:left; text-decoration:none;}
form[id$='facetType'] > div.clearfix a.facetTypeLink span {padding:4px 0px 4px 30px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink span.facetTypeDataverse {background: url(/resources/images/icon_dataverse.png) no-repeat 4px 50% / 18px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink.facetSelected span.facetTypeDataverse {background: url(/resources/images/icon_dataverse_dark.png) no-repeat 4px 50% / 18px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink span.facetTypeDataset {background: url(/resources/images/icon_dataset.png) no-repeat 4px 50% / 18px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink.facetSelected span.facetTypeDataset {background: url(/resources/images/icon_dataset_dark.png) no-repeat 4px 50% / 18px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink span.facetTypeFile {background: url(/resources/images/icon_file.png) no-repeat 4px 50% / 18px;}
form[id$='facetType'] > div.clearfix a.facetTypeLink.facetSelected span.facetTypeFile {background: url(/resources/images/icon_file_dark.png) no-repeat 4px 50% / 18px;}

div[id$='facetCategoryList'] {padding:4px; border:1px solid #DDD;}
div[id$='facetCategoryList'] ul, div[id$='facetCategoryList'] li, div[id$='facetCategoryList'] div {margin:0; padding:0; list-style: none; border:0;}
div[id$='facetCategoryList'] > div > ul > li {border-bottom:1px solid #DDD; margin-bottom:.5em;}
div[id$='facetCategoryList'] > div > ul > li:last-child {border-bottom:0; margin-bottom:0;}
div[id$='facetCategoryList'] div li div {padding:4px 0px;}
div[id$='facetCategoryList'] div li div.ui-datalist-empty-message {padding:4px 0px; font-style:italic; color:#AAA;}
div[id$='facetCategoryList'] div.ui-datalist, div[id$='facetCategoryList'] div.ui-datalist div.ui-datalist-content {padding-top:0;}
.facetCategoryName {font-weight:bold;}

.facetCategoryName, .facetLink {
-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;}
a.facetLink {text-decoration:none;}
a.facetLink.facetSelected, a.facetTypeLink.facetSelected {font-weight:bold;}
a.facetLink.facetSelected span.glyphicon-remove {vertical-align:text-top; margin-top:1px; margin-left:.25em;}

table.ui-panelgrid.facetsMoreLess {width:100%;}
table.ui-panelgrid.facetsMoreLess tr.ui-widget-content {border:0;}
table.ui-panelgrid.facetsMoreLess td {width:50%; border:0;}
table.ui-panelgrid.facetsMoreLess td:last-child {text-align:right;}

#dv-maincolumn div.emptyResults.bg-warning {background:#FCF8F2; padding:.5em 1em;}
#resultsFacetsTopBlock {margin-bottom:.5em;}
#resultsFacetsTopBlock a.facetLink.facetSelected {display:inline-block; margin-bottom:.5em; margin-right:1em; background-color:#E6F1F6; padding-left:.3em; padding-right:.3em;}

#dv-maincolumn div.results-sort-pagination div.pagination {margin-left:1em;}
#dv-maincolumn div.results-sort-pagination.results-bottom .pagination {margin-top:0; margin-bottom:0;}

div[id$='resultsTable'] .ui-datatable-tablewrapper table > thead {display:none;}
div[id$='resultsTable'] > .ui-datatable-tablewrapper > table {border-collapse:separate; border-spacing:0 1em;}

div[id$='resultsTable'].resultsNone .ui-datatable-tablewrapper table tfoot {display:none;}

/* -------- ADVANCED -------- */
#advancedSearchForm .select-scroll-block {height:auto; max-height:120px; overflow-y:scroll; padding: 6px 12px;}
#advancedSearchForm .select-scroll-block table.ui-selectmanycheckbox label {margin-left:5px; margin-top:0; font-weight:normal;}

/* -------- DATASET -------- */
.panelgridLayoutTable.titleCitationBlock, 
.panelgridLayoutTable.titleCitationBlock tr.ui-widget-content, 
.panelgridLayoutTable.titleCitationBlock tr.ui-widget-content td {border:0;}

#datasetVersionBlock span.label {vertical-align:text-top; line-height:normal; margin-left: 1em;}

span[id$='editDataSet'] .ui-button-text {white-space: nowrap;}

#replicationDataButton {margin-top:5px;}
                                    
#title {/*display:block;*/font-size:1.5em;font-weight:bold; /*margin-bottom:.5em;*/}
#author, #contact {display:block; margin-bottom:.5em;}
#citation {padding:.5em; margin-bottom:.5em; overflow:hidden;}
#whycitelink {margin-left:.5em; margin-top:1px;}
#description {display:block; margin-bottom:.5em;}
#keywords, #subject, #note, #publication {display:block; margin-bottom:.5em;}

div.form-group .glyphicon.glyphicon-asterisk {font-size:.5em; vertical-align:text-top;}
#datasetForm .form-group, #templateForm .form-group {overflow: hidden;}
#datasetForm .form-col-container .form-col-container, #templateForm .form-col-container .form-col-container {padding-left:0;}
#datasetForm .form-col-container .form-col-container .ui-selectonemenu, #templateForm .form-col-container .form-col-container .ui-selectonemenu {display:block;}

.panel .panel-body .form-group {overflow: hidden;}

/* Primefaces vs Bootstrap selectOneMenu fix */
.form-group div.ui-selectonemenu.form-control {padding:0px;}
.form-group .ui-selectonemenu .ui-selectonemenu-label {padding:6px 4px;}
.form-group .ui-selectonemenu .ui-selectonemenu-trigger {border-radius:0; width:24px;}
.form-group .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {margin-top:8px;}

#datasetForm .select-scroll-block, #templateForm .select-scroll-block {height:auto; max-height:120px; overflow-y:scroll; padding: 6px 12px;}
#datasetForm .select-scroll-block table.ui-selectmanycheckbox label, #templateForm .select-scroll-block table.ui-selectmanycheckbox label {margin-left:5px; margin-top:0; font-weight:normal;}

#contentTabs .ui-tabs .ui-tabs-panel {padding-left:0; padding-right:0;}

#contentTabs div.panel-heading[data-toggle="collapse"] {cursor: pointer; cursor: hand;}
#contentTabs div.panel-heading.text-info[data-toggle="collapse"] {color: #31708F;}

.btn-sm.ui-button {padding: 5px 10px;}

#dragdropMsg {padding:20px;font-size:1.3em;color:#808080;text-align:center;}

div.popover.fade.top.in {max-width: none;}
div.popover.fade.top.in div.popover-content {text-align:center; vertical-align: middle; display:table-cell; width:428px; height:418px;}

div[id$="filesTable"] .ui-datatable-tablewrapper thead {display:none;}
div[id$="versionsTable"] .ui-datatable-tablewrapper thead {display:none;}

div[id$='versionsTab'] .ui-state-highlight .ui-icon, div[id$='filesTable'] .ui-state-highlight .ui-icon {background-image: url("/javax.faces.resource/images/ui-icons_333333_256x240.png.xhtml?ln=primefaces-bootstrap");}
div[id$='versionsTab'] .ui-state-highlight .ui-commandlink {color:#FFFFFF;}

div[id$='detailsBlocks'] {min-width:60%; max-height:60%;}
div[id$='detailsBlocks'] .ui-dialog-content {overflow-y:scroll;}
div[id$='detailsBlocks'] div.ui-dialog-buttonpane {border-top:0;}

div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > thead {display:none;}
div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table, div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody {border:0;}
div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr:first-child, div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr:first-child > td {border-top-width:0;}
div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr:last-child, div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr:last-child > td {border-bottom-width:0;}
div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr, div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr > td:first-child {border-left-width:0;}
div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr, div.dvnDifferanceTable > div.ui-datatable-tablewrapper > table > tbody > tr > td:last-child {border-right-width:0;}
div.dvnDifferanceTable div.ui-datatable-tablewrapper table td.versionValue {width:30%;}
div.dvnDifferanceTable div.ui-datatable-tablewrapper table td.versionDetails {width:35%;}

div.dvnDifferanceTable .diffDetailBlock {display:block;}

.dropin-btn-status.ui-icon {background: url("https://www.dropbox.com/static/images/widgets/dbx-saver-status.png") no-repeat;}

/* Overwrite Primefaces */
button.btn-default.ui-button-text-only .ui-button-text {padding:0; font-size:14px;}
.ui-widget-overlay {background:#CCC;}
.ui-confirm-dialog-severity {margin-top:3px;}
