/*--------- BODY --------- */
/* body, .ui-widget {font:13px/1.7em "Open Sans","trebuchet ms",arial,sans-serif;} */
.ui-widget-content a {color: #428BCA;}
.ui-widget-content a:hover, .ui-widget-content a:focus {color: #2A6496;}

/* -------- TEMPLATE -------- */
.panelgridHeaderTable {width:100%;}
.panelgridHeaderTable .ui-widget-content, .panelgridHeaderTable .ui-widget-content > td {border:0; background:none;}
.panelgridHeaderTable .ui-widget-content > td:last-child table {margin-left:auto;}

.panelLayoutBlock, .panelLayoutTitleBlock, .panelLayoutButtonBlock {border:0;}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content, .panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content > td {border:0;}

.panelgridLayoutTable, .panelgridFormTable {width:100%;}
.panelgridFormTable > tbody > tr.ui-widget-content > td:first-child {width:20%;}

.panelLayoutButtonBlock button {margin-right:2em;}

.panelLayoutBlock > .ui-widget-content {border-bottom:1px solid #DDDDDD;}
.panelLayoutBlock.breadcrumbNavBlock > .ui-widget-content {border-bottom:0;}
.panelLayoutTitleBlock > .ui-widget-content {border:0;}

.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid {margin-bottom: 1em;}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid .ui-widget-content .ui-panelgrid {margin-bottom: 0}
.panelLayoutBlock .ui-panelgrid.panelgridLayoutTable .ui-widget-content .ui-panelgrid .ui-widget-content .ui-panelgrid td:first-child {padding-left:0;}

.rightClass {text-align: right;}

.dataverseChildren .ui-datalist-data {padding-left:1em;}
.dataverseChildren .ui-datalist-data li.ui-datalist-item {list-style-type:none; margin-left:0; margin-bottom:6px;}

#breadcrumbNavBlock > .ui-panel-content {overflow:hidden;}
        
#breadcrumbNavBlock.panelLayoutBlock > .ui-widget-content {border-bottom: 0;}

button[id$='breadcrumbBtn'] span.ui-button-text, 
button[id$='breadcrumbBtn2'] span.ui-button-text {padding-top:0; padding-bottom:0;}

button[id$='breadcrumbBtn'] span.ui-button-text {padding-top:1px;}
button[id$='breadcrumbBtn2'] span.ui-button-text {font-weight:bold;}

button[id$='breadcrumbBtn'] .ui-button-icon-left, 
button[id$='breadcrumbBtn2'] .ui-button-icon-left {left:1em;}

#breadcrumbNavBlock .breadcrumbCarrot {float:left; margin:0 .4em 0 .8em; color:#B3B3B3;}

#breadcrumbNavBlock .ui-tree {width: auto;}

#breadcrumbNavBlock > .ui-widget-content > .ui-tree.ui-widget-content > .ui-tree-container,
#breadcrumbNavBlock > .ui-widget-content > .ui-tree.ui-widget-content > .ui-tree-container > .ui-treenode {padding:0;}

#breadcrumbNavBlock > .ui-widget-content > .ui-tree.ui-widget-content > .ui-tree-container > .ui-treenode .ui-treenode-label {padding:0; margin:0;}

#breadcrumbNavBlock button[id$='breadcrumbBtn'], 
#breadcrumbNavBlock button[id$='breadcrumbBtn2'] {float:left; border:0; box-shadow:none; background: none;}
#breadcrumbNavBlock button[id$='breadcrumbBtn'] span.ui-icon, 
#breadcrumbNavBlock button[id$='breadcrumbBtn2'] span.ui-icon {background-position: -64px -16px;}

#breadcrumbNavBlock .ui-tree.ui-widget-content {border:0;}

.messagePanel {margin-top:1em; font-size: 1em;}
.messagePanel .glyphicon {font-size: 1.5em; vertical-align: bottom;}

#footer {padding-bottom:4em;}

/* -------- SEARCH -------- */
.panelLayoutBlock.panelSerchForm > .ui-widget-content {border:0;}

.searchTypeButton {display:block; border:1px solid #DDD; padding:4px 0; margin-bottom: .5em;}

/*#resultsCountPaginatorBlock {overflow:hidden;}*/
#resultsCountPaginatorBlock div.results-count {width:25%; padding: 6px 12px; margin-top: 1px;}
#resultsCountPaginatorBlock div.results-sort-pagination {width:70%; text-align:right;}
#resultsCountPaginatorBlock .pagination {margin:0;}

em {background-color: yellow;}

form[id$='searchTypeFacet'] label {font-weight:normal;margin-left:.5em;}
form[id$='searchTypeFacet'] .ui-chkbox-box {margin-top:.3em;}

div[id$='facetCategoryList'] {padding:4px; border:1px solid #DDD;}
div[id$='facetCategoryList'] ul, div[id$='facetCategoryList'] li, div[id$='facetCategoryList'] div {margin:0; padding:0; list-style: none; border:0;}
div[id$='facetCategoryList'] > div > ul > li {border-bottom:1px solid #DDD; margin-bottom:.5em;}
div[id$='facetCategoryList'] div li div {padding:4px 0px;}
div[id$='facetCategoryList'] div li div.ui-datalist-empty-message {padding:4px 0px; font-style:italic; color:#AAA;}
.facetCategoryName {font-weight:bold;}

.facetCategoryName, .facetLink {
-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;}
a.facetLink {text-decoration:none;}
/*.facetSelected, a.facetSelected, a.facetSelected:link, a.facetSelected:active {}*/
.facetSelected.resultsTopBlock {background-color:#E6F1F6; padding-left:.3em; padding-right:.3em;}
a.facetLink.facetSelected span.glyphicon-remove {vertical-align:text-top; margin-top:1px; margin-left:.5em;}

table.ui-panelgrid.facetsMoreLess {width:100%;}
table.ui-panelgrid.facetsMoreLess tr.ui-widget-content {border:0;}
table.ui-panelgrid.facetsMoreLess td {width:50%; border:0;}
table.ui-panelgrid.facetsMoreLess td:last-child {text-align:right;}
div[id$="resultsTable"] .ui-datatable-tablewrapper table > thead {display:none;}

div[id$="resultsTable"] > .ui-datatable-tablewrapper > table {border-collapse:separate; border-spacing:0 1em;}

#resultsTable.resultsNone .ui-datatable-tablewrapper table tfoot {display:none;}

/* -------- DATASET -------- */
.panelgridLayoutTable.titleCitationBlock, 
.panelgridLayoutTable.titleCitationBlock tr.ui-widget-content, 
.panelgridLayoutTable.titleCitationBlock tr.ui-widget-content td {border:0;}

span[id$='editDataSet'] .ui-button-text {white-space: nowrap;}
                                    
#title {display:block;font-size:1.25em;font-weight:bold; margin-bottom:.25em;}
#author, #contact {display:block; margin-bottom:.5em;}
#citation {background-color: #FCFCE2; padding:.5em; margin-bottom:.5em;}
#description {display:block; margin-bottom:.5em;}
#keywords, #subject, #note, #publication {display:block; margin-bottom:.5em;}
#keywords {margin-top:1em;}

div.form-group .glyphicon.glyphicon-asterisk {font-size:.5em; vertical-align:text-top;}
#datasetForm .form-group {overflow: hidden;}
#datasetForm .form-group .col-sm-6 .col-sm-6, #datasetForm .form-group .col-sm-6 .col-sm-12 {padding-left:0;}

#contentTabs .ui-tabs .ui-tabs-panel {padding-left:0; padding-right:0;}

.btn-sm.ui-button {padding: 5px 10px;}

/* Overwrite Primefaces */
button.btn-default.ui-button-text-only .ui-button-text {padding:0; font-size:14px;}