/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.eot");
  src: url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.eot?#iefix") format("embedded-opentype"),
       url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.woff2") format("woff2"),
       url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.woff") format("woff"),
       url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.ttf") format("truetype"),
       url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("fontcustom/fontcustom_0f2e3abd7943864d8b51d195be0f5883.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-astro:before,
.icon-audio:before,
.icon-code:before,
.icon-dataset:before,
.icon-dataverse:before,
.icon-document:before,
.icon-file:before,
.icon-geodata:before,
.icon-image:before,
.icon-network:before,
.icon-other:before,
.icon-package:before,
.icon-tabular:before,
.icon-unlock:before,
.icon-video:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-astro:before { content: "\f114"; }
.icon-audio:before { content: "\f115"; }
.icon-code:before { content: "\f116"; }
.icon-dataset:before { content: "\f117"; }
.icon-dataverse:before { content: "\f118"; }
.icon-document:before { content: "\f119"; }
.icon-file:before { content: "\f11a"; }
.icon-geodata:before { content: "\f11b"; }
.icon-image:before { content: "\f11c"; }
.icon-network:before { content: "\f11d"; }
.icon-other:before { content: "\f11f"; }
.icon-package:before { content: "\f120"; }
.icon-tabular:before { content: "\f122"; }
.icon-unlock:before { content: "\f123"; }
.icon-video:before { content: "\f124"; }
