/**
	Variables
*/

$font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$border-radius: 7px;

/* Colors */

$dialog-font-color: #4a4a4a;
$gray-border-color: #e8e8e8;

/* REPOD color scheme */

$main-color: #0086bc;
$icon-color: #2ba7df;
$link-color: #043e58;
$border-color: #39b0e2;
$search-result-desc-color: #f2f8fa;


/**
	Custom font
*/

@font-face {
  font-family: 'vecler-icons';
  src:  url('fonts/icomoon.eot?llaqdc');
  src:  url('fonts/icomoon.eot?llaqdc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?llaqdc') format('truetype'),
    url('fonts/icomoon.woff?llaqdc') format('woff'),
    url('fonts/icomoon.svg?llaqdc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before, .icon-astro::before, .icon-audio::before, .icon-code::before, .icon-dataset::before, .icon-dataverse::before, .icon-dataverse::after, .icon-document::before, .icon-file::before, .icon-geodata::before, .icon-image::before, .icon-network::before, .icon-other::before, .icon-package::before, .icon-tabular::before, .icon-unlock::before, .icon-video::before {
	font-family: "vecler-icons";
	color: $icon-color;
}

/* Multicolor dataverse icon */

.icon-dataverse {
	position: relative;
}

.icon-dataverse::after {
	content: "\f200";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	color: #a4a5a8;
	z-index: -1;
	line-height: 100%;
	font-style: normal;
	font-weight: normal;
}

.card-title-icon-block .icon-dataverse::after {
	top: 2.2px;
}


/**
	General rules 
*/


body {
	font-family: $font-roboto;
	font-size: 15px;
}

.text-brand {
	color: $icon-color;
}

.btn {
	padding-bottom: 5px;

	&.btn-primary {
		background: $main-color;
		border: 1px solid $main-color;
		box-shadow: none;
	}

	&.btn-default {
		&.btn-access {
			border: 1px solid $gray-border-color;
			color: $link-color;
		}
	}

	.glyphicon, .caret {
		color: $icon-color;
	}
}

.alert {
	&.alert-info {
		background: #e8f3ff
	}
	&.alert-success {
		background: #e8faec;
	}
	&.alert-danger {
		background: #feecee;
	}
	&.alert-warning {
		background: #fff7dc;
	}
}

a,
.pagination > li > a {
	color: $link-color;
}
a:hover {
	color: $main-color;
}

.ui-widget {
	font-family: $font-roboto;
}

.ui-inputfield {
	border-color: $gray-border-color;
}

/* Main page */

#dataverseForm {
	margin-left: -10px;
	margin-right: 20px;
} 

#dataverseDesc {
	margin-left: 15px;
	width: 100%;
	padding-top: 15px;
	text-align: justify;
}

#searchResults {
	margin-left: 15px;
	margin-right: 15px;
}

#search-row-panel {
	padding: 13px 0;
	border-color: $gray-border-color;
	border-radius: $border-radius;
}

#actionButtonBlock {
	width: calc(100% + 10px);
	margin-left: 10px;

	.glyphicon {
		color: $icon-color;
	}
}

.row.panelSearchForm {
	& > .col-sm-8 {
		padding-left: 0;
	}

	& > .col-manage-action {
		padding-right: 0;
	}
}

div.panelSearchForm input.search-input {
	line-height: 23px;
}

.pagination > .active > a {
	border-color: $main-color;
	background-color: $main-color;
}

#metrics-block.col-xs-3 {
	border: none;
	color: #4A4A4A;
}

#metrics-label {
	background: #FFF;
	border-radius: 6px 0 0 6px;
	border: 1px solid #eee;

	.glyphicon-stats {
		color: $icon-color;
	}
}

#metrics-content {
	border-radius: 0 6px 6px 0;
	border: 1px solid #eee;
	border-left: none;
}

@media screen and (max-width: 1199px) {
	#metrics-label {
		font-size: 0;
	}

	#metrics-label .glyphicon-stats {
		font-size: 18px;
	}
}

/* Carousel */

#featuredDataversesList .item .icon-dataverse {
	top: 5px;
	margin-left: 12px;
	margin-right: 16px;
}

#featuredDataversesBlock div.customNavigation {
	width: auto;

	a.btn {
		&:active {
			box-shadow: none;
		}

		&.prev1,
		&.next1 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	span.glyphicon {
		font-size: 1em;
		color: $icon-color;
		border: 1px solid $gray-border-color;
		border-radius: 333px;
		width: 29px;
		height: 29px;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px;
		margin: 0 auto;
		line-height: 25px;
		padding-left: 1px;
	}
}

#carouselBlocksWrapper {
	border-bottom: 0;
	width: calc(100% + 91px);
	margin-left: -31px;

	a {
		color: $link-color;
	}
}

.owl-carousel .item {
	border: 1px solid $gray-border-color;
	text-align: left;
	border-radius: $border-radius;
}

#featuredDataversesBlock {
	border-top: 0;
}

#featuredDataversesList {
	width: calc(100% - 62px);

	.item div {
		display: table;
		height: 100%;
	}

	.item a {
		display: table-cell;
		vertical-align: middle;
	}
}

/* Center carousel elements */

#carouselBlocksWrapper.owl-center-elements .owl-carousel {
	.owl-wrapper-outer {
		text-align: center;
	}

	.owl-wrapper {
		width: auto !important;
		display: inline-block !important;
	}
}

/* Responsive carousel offscreen buttons fix */

#carouselBlocksWrapper.owl-shrink-container {
	width: calc(100% + 10px);
	margin-left: 10px;
}

/* Hide prev/next buttons when not necessary, also fix improper width */

#carouselBlocksWrapper.owl-hide-navigation {
	width: calc(100% + 30px);
	margin-left: 0;

	.customNavigation {
		display: none;
	}

	#featuredDataversesList {
		width: 100%;
	}
}

/* Sidebar */

#dv-sidebar {
	padding-left: 25px;
	padding-right: 22px;
	padding-top: 3px;

	a.facetLink  {
		color: $link-color;
	}

	a.facetTypeLink  {
		color: $link-color;
		margin-left: 4px;
	}

	.ui-chkbox-box,
	.ui-state-active .ui-chkbox-icon.ui-icon,
	.ui-state-default .ui-chkbox-icon.ui-icon {
		background: none;
	}
}

.facetTypeChBox.facetLink {
	&::before {
		content: "\e157";
		position: absolute;
		font-family: "Glyphicons Halflings";
		font-size: 17px;
		color: $icon-color;
		background: #FFF;
		z-index: 3;
	}

	&.facetSelected::before {
		content: "\e067";
		font-size: 16px;
	}
}

form[id$="facetType"] > div.clearfix a.facetTypeLink span {
	position: relative;
	top: -3px;
}

/* Search results */

#resultsCountPaginatorBlock {
	margin-bottom: 8px;

	div.results-count {
		font-weight: normal;
		color: #4a4a4a;
	}
}

#dv-main {
	padding-left: 18px;
	padding-right: 18px;

	div.emptyResults.bg-warning {
		padding: 15px 20px;
		border-radius: $border-radius;
		margin-bottom: 20px;

		p {
			margin: 0;

			& > button.btn.btn-primary {
				font-size: 14px;
				padding-bottom: 1px;
			}
		}
	}
}

div.alert-info.bg-citation {
	padding: 15px 20px;
	border: 0;
	border-radius: $border-radius;
	background-color: $search-result-desc-color;

	color: #4a4a4a;
}

table[id$="resultsTable"] {
	div.card-preview-icon-block {
		margin-top: 6px;
	}

	div.card-title-icon-block span[class^="icon"] {
		position: relative;
		top: -10px;
		margin-left: 9px;
	}

	td  {
		& > div {
			margin-top: 5px;
			margin-bottom: 5px;
			padding-top: 16px;
			padding-bottom: 15px;
			border-radius: $border-radius;
		}

		& > div.fileResult {
			border-color: $gray-border-color;
		}

		& > div.dataverseResult {
			border-color: $main-color;
		}

		& > div.datasetResult {
			border-color: $border-color;
		}

		& > div.unpublished {
			border-style: dashed;
		}
	}

	span.label {
		position: relative;
		top: -8px;
		border-radius: 5px;
		line-height: 12px;
	}
}

.card-title-icon-block {
	margin-top: -2px;
}

.card-title-icon-block, #datasetForm {
	.label {
		padding: 3px 5px;
		font-size: 11;
		font-weight: normal;
		text-transform: uppercase;
		
		&.label-primary {
			background: #0086bc;
			border: 1px solid #0086bc;
		}
		&.label-warning {
			background: #fff;
			border: 1px solid $main-color;
		
			color: #4a4a4a;
		}
		&.label-danger {
			background: #c53635;
			border: 1px solid #c53635;
		
			color: #FFF;
		}
		&.label-success {
			background: #00a500;
			border: 1px solid #00a500;
		
			color: #FFF;
		}
	}
}

/* Main page end */