/*--------- Header --------- */
span.navbar-brand {padding:1px; height:60px;}
img.navbar-custom-logo {height:60px;}

ul.nav li.dropdown a {color: #333; text-decoration: none;}

#dataverseHeader .dataverseHeaderLogo img {max-height: 100%; max-width: 100%;}

/*--------- Page Elements --------- */
#datasetButtonBar, #dataverseButtonBar {display:none;}

/*--------Footer QDR Copyright -----*/

#footer>.container>.row>div:first-child {
  display:table;
  margin-bottom:10px;
}

.footertext {
  display:table-cell;
  vertical-align: middle;
}

.footerlogo {
  max-height:50px;
  float:left;
}

