# Variables used in resource creation

POSTGRES_SERVER=${POSTGRES_SERVER:-postgresql}
POSTGRES_PORT=${POSTGRES_PORT:-5432}
POSTGRES_USER=${POSTGRES_USER:-dataverse}
POSTGRES_DATABASE=${POSTGRES_DATABASE:-${POSTGRES_USER}}
MAIL_SERVER=${MAIL_SERVER:-"postfix"}
MAIL_FROMADDRESS=${MAIL_FROMADDRESS:-"do-not-reply@mailinator.com"}
CONTACT_MAIL=${CONTACT_MAIL:-"dataverse-k8s-contact@mailinator.com"}
ENABLE_JMX_EXPORT=${ENABLE_JMX_EXPORT:-0}
JMX_EXPORTER_PORT=${JMX_EXPORTER_PORT:-8081}
JMX_EXPORTER_CONFIG=${JMX_EXPORTER_CONFIG:-"${HOME}/jmx_exporter_config.yaml"}

#####   #####   #####   #####   #####   #####   #####   #####   #####   #####
# System properties based Dataverse configuration options
# (Exporting needed as they cannot be seen by `env` otherwise)

export dataverse_files_directory=${dataverse_files_directory:-/data}
export dataverse_files_storage__driver__id=${dataverse_files_storage__driver__id:-local}

if [ "${dataverse_files_storage__driver__id}" = "local" ]; then
  export dataverse_files_local_type=${dataverse_files_local_type:-file}
  export dataverse_files_local_label=${dataverse_files_local_label:-Local}
  export dataverse_files_local_directory=${dataverse_files_local_directory:-/data}
fi

export dataverse_rserve_host=${dataverse_rserve_host:-rserve}
export dataverse_rserve_port=${dataverse_rserve_port:-6311}
export dataverse_rserve_user=${dataverse_rserve_user:-rserve}
export dataverse_rserve_password='${ALIAS=rserve_password_alias}'
export dataverse_fqdn=${dataverse_fqdn:-"localhost"}
export dataverse_siteUrl=${dataverse_siteUrl:-"http://\${dataverse.fqdn}:8080"}
export dataverse_auth_password__reset__timeout__in__minutes=${dataverse_auth_password__reset__timeout__in__minutes:-60}
export dataverse_timerServer=${dataverse_timerServer:-true}

export doi_username=${doi_username:-test}
export doi_password='${ALIAS=doi_password_alias}'
export doi_baseurlstring=${doi_baseurlstring:-http://mds.test.datacite.org}

#####   #####   #####   #####   #####   #####   #####   #####   #####   #####
# Database based Dataverse configuration options
# (Exporting needed as they cannot be seen by `env` otherwise)

export db_SystemEmail=${db_SystemEmail:-"Dataverse on K8S <dataverse-k8s-admin@mailinator.com>"}
