[glassfish]
HOST_DNS_ADDRESS = localhost
GLASSFISH_USER = dataverse
GLASSFISH_DIRECTORY = /usr/local/payara6
GLASSFISH_ADMIN_USER = admin
GLASSFISH_ADMIN_PASSWORD = secret
GLASSFISH_HEAP = 2048
GLASSFISH_REQUEST_TIMEOUT = 1800

[database]
POSTGRES_ONLY = false
POSTGRES_SERVER = localhost
POSTGRES_PORT = 5432
POSTGRES_DATABASE = dvndb
POSTGRES_USER = dvnapp
POSTGRES_PASSWORD = secret
POSTGRES_ADMIN_PASSWORD = secret

[system]
ADMIN_EMAIL = 
MAIL_SERVER = localhost
SOLR_LOCATION = LOCAL

[rserve]
RSERVE_HOST = localhost
RSERVE_PORT = 6311
RSERVE_USER = rserve
RSERVE_PASSWORD = rserve

[doi]
DOI_USERNAME = dataciteuser
DOI_PASSWORD = datacitepassword
DOI_BASEURL = https://mds.test.datacite.org
DOI_DATACITERESTAPIURL = https://api.test.datacite.org
