[prompts]
ADMIN_EMAIL = Administrator email address for this Dataverse
GLASSFISH_ADMIN_USER =
GLASSFISH_ADMIN_PASSWORD =
GLASSFISH_DIRECTORY = App. Server (Payara) Directory
GLASSFISH_HEAP =
GLASSFISH_USER = Payara service account username
GLASSFISH_REQUEST_TIMEOUT = Payara download timeout
POSTGRES_ONLY =
POSTGRES_ADMIN_PASSWORD = Postgres ADMIN password
POSTGRES_SERVER = Postgres Server Address
POSTGRES_PORT = Postgres Server Port
POSTGRES_DATABASE = Name of the Postgres Database
POSTGRES_USER = Name of the Postgres User
POSTGRES_PASSWORD = Postgres user password
RSERVE_HOST = Rserve Server
RSERVE_PORT = Rserve Server Port
RSERVE_USER = Rserve User Name
RSERVE_PASSWORD = Rserve User Password
HOST_DNS_ADDRESS = Fully Qualified Domain Name of your host
MAIL_SERVER = SMTP (mail) server (and port) to relay notification messages
SOLR_LOCATION = Remote SOLR indexing service
TWORAVENS_LOCATION =
DOI_USERNAME = Datacite username
DOI_PASSWORD = Datacite password
DOI_BASEURL = Datacite URL
DOI_DATACITERESTAPIURL = Datacite REST API URL
[comments]
HOST_DNS_ADDRESS = :(enter numeric IP address, if FQDN is unavailable)
GLASSFISH_USER = :This user will be running the App. Server (Payara5) service on your system.\n - If this is a dev. environment, this should be your own username; \n - In production, we suggest you create the account "dataverse", or use any other unprivileged user account\n:
GLASSFISH_DIRECTORY = 
GLASSFISH_REQUEST_TIMEOUT = :\n Defaults to 1800 seconds (30 minutes)
ADMIN_EMAIL = :\n(please enter a valid email address!) 
MAIL_SERVER = 
POSTGRES_SERVER = 
POSTGRES_PORT = 
POSTGRES_ADMIN_PASSWORD = :\n - We will need this to create the user and database that the Dataverse application will be using.\n (Hit RETURN if access control is set to "trust" for this connection in pg_hba.conf)\n:
POSTGRES_USER = :\n - This is the Postgres user that the Dataverse app will be using to talk to the database\n:
POSTGRES_DATABASE = 
POSTGRES_PASSWORD = 
SOLR_LOCATION = ? \n - Leave this set to "LOCAL" if the SOLR will be running on the same (this) server.\n Otherwise, please enter the host AND THE PORT NUMBER of the remote SOLR service, colon-separated\n (for example: foo.edu:8983)\n: 
RSERVE_HOST = 
RSERVE_PORT = 
RSERVE_USER = 
RSERVE_PASSWORD = 
DOI_USERNAME = DataCite or EZID username. Only necessary for publishing / minting DOIs.
DOI_PASSWORD = DataCite or EZID account password.
DOI_BASEURL = DataCite or EZID URL. Probably https://mds.datacite.org
DOI_DATACITERESTAPIURL = DataCite REST API URL (Make Data Count, /pids API). Probably https://api.datacite.org
