[glassfish]
HOST_DNS_ADDRESS = localhost
GLASSFISH_DIRECTORY = /usr/local/glassfish4

[database]
POSTGRES_SERVER = 127.0.0.1
POSTGRES_PORT = 5432
POSTGRES_DATABASE = dvndb
POSTGRES_USER = dvnapp
POSTGRES_PASSWORD = secret
POSTGRES_ADMIN_PASSWORD = secret

[system]
ADMIN_EMAIL =
MAIL_SERVER = mail.hmdc.harvard.edu
SOLR_LOCATION = localhost:8983
TWORAVENS_LOCATION = NOT INSTALLED

[rserve]
RSERVE_HOST = localhost
RSERVE_PORT = 6311
RSERVE_USER = rserve
RSERVE_PASSWORD = rserve
