HOST_DNS_ADDRESS	localhost
GLASSFISH_DIRECTORY	/usr/local/glassfish5
ADMIN_EMAIL	 
MAIL_SERVER	localhost
POSTGRES_ADMIN_USERNAME	postgres
POSTGRES_ADMIN_PASSWORD	secret
POSTGRES_SERVER	127.0.0.1
POSTGRES_PORT	5432
POSTGRES_DATABASE	dvndb
POSTGRES_USER	dvnapp
POSTGRES_PASSWORD	secret
SOLR_LOCATION	LOCAL
TWORAVENS_LOCATION	NOT INSTALLED
RSERVE_HOST	localhost
RSERVE_PORT	6311
RSERVE_USER	rserve
RSERVE_PASSWORD	rserve
