HOST_DNS_ADDRESS	localhost
GLASSFISH_DIRECTORY	/usr/local/glassfish4
ADMIN_EMAIL	 
MAIL_SERVER	mail.hmdc.harvard.edu
POSTGRES_ADMIN_PASSWORD	secret
POSTGRES_SERVER	dataverse-postgresql-0.dataverse-postgresql-service
POSTGRES_PORT	5432
POSTGRES_DATABASE	dvndb
POSTGRES_USER	dvnapp
POSTGRES_PASSWORD	secret
SOLR_LOCATION	dataverse-solr-service:8983
TWORAVENS_LOCATION	NOT INSTALLED
RSERVE_HOST	localhost
RSERVE_PORT	6311
RSERVE_USER	rserve
RSERVE_PASSWORD	rserve
