##
## Velocity Template for Hello World page.
##
## Velocity context will contain the following properties
## flowRequestContext - the Spring Web Flow RequestContext
## encoder - HTMLEncoder class
## request - HttpServletRequest
## response - HttpServletResponse
## profileRequestContext - root of context tree
## subjectContext - ProfileRequestContext -> SubjectContext
## attributeContext - ProfileRequestContext -> AttributeContext
## environment - Spring Environment object for property resolution
## custom - arbitrary object injected by deployer
##
$response.addHeader("Content-Security-Policy", "script-src 'none'")
<!DOCTYPE html>
<html>
    <head>
        <title>#springMessageText("idp.title", "Web Login Service") - #springMessageText("hello-world.title", "Hello World")</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
        <link rel="stylesheet" type="text/css" href="$request.getContextPath()#springMessageText("idp.css", "/css/placeholder.css")" media="all">
    </head>
  
    <body>
        <main class="main">
            <header>
                <img class="main-logo" src="$request.getContextPath()#springMessageText("idp.logo", "/images/placeholder-logo.png")" alt="#springMessageText("idp.logo.alt-text", "logo")">
            </header>
                
            <section>
                <h1>#springMessageText("hello-world.greeting", "Greetings"), <em>$encoder.encodeForHTML($subjectContext.getPrincipalName())</em></h1>
                <p><strong>Authenticated by</strong><br />
                  #foreach ($result in $subjectContext.getAuthenticationResults().entrySet())
                   <small>$encoder.encodeForHTML($result.getKey())</small><br/>
                  #end</p>
                  
                <p><strong>Java Principals in Subjects</strong><br/>
                #foreach ($s in $subjectContext.getSubjects())
                    #foreach ($p in $s.getPrincipals())
                      <small>$encoder.encodeForHTML($p)</small></br/>
                    #end
                  #end</p>
                
                #if ($attributeContext && !$attributeContext.getUnfilteredIdPAttributes().isEmpty())

                    <p><strong>Attributes</strong><br/>
                        #foreach ($a in $attributeContext.getUnfilteredIdPAttributes())
                          #if (!$a.getValues().isEmpty())
                            <small><strong>$encoder.encodeForHTML($a.getId())</strong></small><br/>
                              #foreach ($v in $a.getValues())
                                <small>$encoder.encodeForHTML($v.getDisplayValue())</small><br/>
                              #end
                          #end
                        #end
                      #end
                    </p>
                    
                <a class="button button--secondary" href="$request.getContextPath()/profile/admin/hello">#springMessageText("hello-world.reload", "Reload the Page")</a>
            </section>
        </main>
        <footer class="footer">
            <div class="cc">
                <p>#springMessageText("idp.footer", "Insert your footer text here.")</p>
            </div>
        </footer>
    </body>
</html>
