{% if data.selected_filters %}
    {% for pub_stat in data.selected_filters.publication_statuses %}
        <a class="lnk_cbox_remove btn btn-primary btn-xs" rel="id_cbox_{{ pub_stat|lower }}">Status: {{ pub_stat }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
    {% endfor %}
    {% for role_name in data.selected_filters.role_names %}
     <a class="lnk_cbox_remove btn btn-info btn-xs" rel="id_cbox_{{ role_name|lower }}">Role: {{ role_name }} <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>    
    {% endfor %}
{% endif %}

{# <!-- Iterate through and render cards --> #}

{% set card_bg_color = cycler("", "background-color:#f7f7f7;") %}
{% for sdoc in data.items -%}
 {# <!-- set border color --> #}
 {% if sdoc.type == "dataverse" %}
    {% set card_border_color = "#c55b28" %}
 {% elif sdoc.type == "dataset" %}
    {% set card_border_color = "#428bca" %}
 {% elif sdoc.type == "file" %}
    {% set card_border_color = "#ccc" %}
 {% endif %}

    <div style="border:1px solid {{ card_border_color }};padding:4px 10px; margin:20px; width:700px;{{ card_bg_color.next() }}">
        <!-- publication status -->
        {#({{ loop.index }})#} {% if sdoc.is_draft_state %}<span class="label label-primary">Draft</span> {% endif %}
        {% if sdoc.is_unpublished_state %}<span class="label label-primary">Unpublished</span> {% endif %}
        {% if sdoc.is_published %} <span class="label label-success">Published</span> {% endif %}
        <!-- roles -->
        {% for role_name in sdoc.user_roles %}
            <span class="label label-info">{{ role_name }}</span>
        {% endfor %}
        
 {% if sdoc.type == "dataverse" %}       
        <div class="card-title-icon-block">
            <span class="icon-dataverse text-brand pull-right" title="Dataverse"></span>
            <a href="/dataverse/{{ sdoc.identifier }}"><span style="padding:4px 0;">{{ sdoc.name }}</span></a>
            <span class="text-muted" style="margin-left: .5em;">(affiliation?)</span>
        </div>
        <div class="card-preview-icon-block text-center">
            <a href="/dataverse/{{ sdoc.identifier }}"><span class="icon-dataverse text-brand"></span></a>
            {# <a href="/dataverse/{{ sdoc.identifier }}"><img src="{{ sdoc.image_url | replace("https://RAD-rprasad", "")  }}" alt="icon image" /></a> #}
        </div>
        <span class="text-muted" style="margin-right:.5em;">{{ sdoc.date_to_display_on_card }}</span> 
            {% if sdoc.parentId %}
                {% if sdoc.parentId != sdoc.identifier %}
                  -  <a href="/dataverse.xhtml?id={{ sdoc.parentId }}">{{ sdoc.parentName }}</a>
                {% endif %}
            {% endif %}

        {% if parent_alias %}
        <a href="/dataverse/{{ parent_alias }}">{{ parent_alias }}</a>
        {% endif %}
        <hr style="margin:.5em;border:0;" />{{ sdoc.description }}

 {% elif sdoc.type == "dataset" %}

            <div class="card-title-icon-block"><span class="icon-dataset text-info pull-right" title="Dataset"></span>
                <a href="/dataset.xhtml?persistentId={{ sdoc.global_id }}"><span style="padding:4px 0;">{{ sdoc.name }}</span></a>
            </div>
            <div class="card-preview-icon-block text-center">
                <a href="/dataset.xhtml?persistentId={{ sdoc.global_id }}"><span class="icon-dataset text-info"></span></a>
            </div><span class="text-muted">{{ sdoc.date_to_display_on_card }}</span>
                - <a href="/dataverse.xhtml?id={{ sdoc.parentId }}">{{ sdoc.parentName }}</a>
            <br /><span class="resultDatasetCitationBlock bg-citation">{{ sdoc.citation|safe }}</span>
            <br />{{ sdoc.description|safe }}   
            
 {% elif sdoc.type == "file" %}
            <div class="card-title-icon-block"><span class="icon-file text-muted pull-right" title="File"></span>
            
                <a href="/dataset.xhtml?persistentId={{ sdoc.parentIdentifier }}"><span style="padding:4px 0;">{{ sdoc.name }}</span></a>
            </div>
            <div class="card-preview-icon-block text-center">
                <img src="{{ sdoc.image_url | replace("https://RAD-rprasad", "")  }}?pfdrid_c=true" alt="" />
                <a href="/dataset.xhtml?persistentId={{ sdoc.parentIdentifier }}"><span class="icon-dataset text-info"></span></a>
            </div><span class="text-muted">{{ sdoc.date_to_display_on_card }}</span> - 
            <a href="/dataset.xhtml?persistentId={{ sdoc.parentIdentifier }}">{{ sdoc.parentName }}</a>
            {#<br /><span class="resultDatasetCitationBlock bg-citation">{{ sdoc.dataset_citation|safe }}</span>#}
            <br /><span class="text-muted">{{ sdoc.file_type }}</span><span class="text-muted"> - {{ sdoc.size_in_bytes }} KB - </span><span class="text-muted"> MD5: {{ sdoc.md5 }} </span>       
{% endif %}
</div>   

{%- endfor %}
