<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>Dataverse</display-name>
    <!-- Error page -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/403.xhtml</location>
    </error-page>
    <!-- Welcome page -->
    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>org.jboss.weld.context.conversation.lazy</param-name>
        <param-value>false</param-value>
    </context-param>
    <!--
        The following parameters can be changed quickly using MicroProfile Config API.
        See also dev guide: https://guides.dataverse.org/en/latest/developers/debugging.html
     -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <!-- Uses Microprofile Config to replace at runtime. Not standardized, Payara App Server specific. -->
        <param-value>${MPCONFIG=dataverse.jsf.project-stage:Production}</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <!-- Uses Microprofile Config to replace at runtime. Not standardized, Payara App Server specific. -->
        <param-value>${MPCONFIG=dataverse.jsf.primefaces.theme:bootstrap}</param-value>
    </context-param>
    <!-- example of a hard-coded PrimePush configuration: -->
    <!-- context-param -->
    <!-- param-name>primefaces.PUSH_SERVER_URL</param-name -->
    <!-- param-value>http://${dataverse.fqdn}:8081</param-value -->
    <!-- /context-param -->
    <context-param>
        <param-name>
            jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
        </param-name>
        <!-- Uses Microprofile Config to replace at runtime. Not standardized, Payara App Server specific. -->
        <param-value>${MPCONFIG=dataverse.jsf.empty-string-null:true}</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <!-- Uses Microprofile Config to replace at runtime. Not standardized, Payara App Server specific. -->
        <param-value>${MPCONFIG=dataverse.jsf.skip-comments:true}</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_BUFFER_SIZE</param-name>
        <!-- Uses Microprofile Config to replace at runtime. Not standardized, Payara App Server specific. -->
        <param-value>${MPCONFIG=dataverse.jsf.buffer-size:102400}</param-value>
    </context-param>
    <context-param>
        <param-name>jakarta.faces.FACELETS_REFRESH_PERIOD</param-name>
        <!-- Uses Microprofile Config to replace at runtime. Not standardized, Payara App Server specific. -->
        <param-value>${MPCONFIG=dataverse.jsf.refresh-period:-1}</param-value>
    </context-param>
    <!-- JSF mapping -->
    <filter>
        <filter-name>Router</filter-name>
        <filter-class>edu.harvard.iq.dataverse.api.ApiRouter</filter-class>
    </filter>
    <filter>
        <filter-name>Blocker</filter-name>
        <filter-class>edu.harvard.iq.dataverse.api.ApiBlockingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Router</filter-name>
        <url-pattern>/api/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Blocker</filter-name>
        <url-pattern>/api/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- Map these files with JSF -->
    <servlet>
        <servlet-name>OAIServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.harvest.server.web.servlet.OAIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Citation Servlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.CitationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.HomepageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAIServlet</servlet-name>
        <url-pattern>/oai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Citation Servlet</servlet-name>
        <url-pattern>/citation</url-pattern>
    </servlet-mapping>

    <session-config>
        <!-- This is the DEFAULT HttpSession timeout, in minutes. -->
        <!-- In practice, it will only apply to ANONYMOUS user sessions -->
        <!-- For logged in users, the session timeout is set explicitly -->
        <!-- in the application code, to the value that is configurable -->
        <!-- (LoginSessionTimeout in the settings table), with the -->
        <!-- default value of 8 hours. -->
        
        <session-timeout>
            10
        </session-timeout>
        <!-- Uncomment the line below to disble `;jsessionid=` in URLs -->
	<!-- tracking-mode>COOKIE</tracking-mode -->
    </session-config>
    <!-- web fonts, bootstrap css map, favicon -->
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>otf</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>map</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>svg</extension>
        <mime-type>image/svg+xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>webmanifest</extension>
        <mime-type>application/manifest+json</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xhtml</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    
    <!-- BEGIN Data Deposit API (SWORD v2) -->
    <!-- See also SwordConfigurationImpl for how deprecation warnings are configured -->
    <context-param>
        <param-name>config-impl</param-name>
        <param-value>edu.harvard.iq.dataverse.api.datadeposit.SwordConfigurationImpl</param-value>
    </context-param>
    <servlet>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ServiceDocumentServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ServiceDocumentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ServiceDocumentServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1/swordv2/service-document/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ServiceDocumentServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1.1/swordv2/service-document/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>collection-deposit-impl</param-name>
        <param-value>edu.harvard.iq.dataverse.api.datadeposit.CollectionDepositManagerImpl</param-value>
    </context-param>
    <context-param>
        <param-name>collection-list-impl</param-name>
        <param-value>edu.harvard.iq.dataverse.api.datadeposit.CollectionListManagerImpl</param-value>
    </context-param>
    <servlet>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2CollectionServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2CollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2CollectionServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1/swordv2/collection/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2CollectionServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1.1/swordv2/collection/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>media-resource-impl</param-name>
        <param-value>edu.harvard.iq.dataverse.api.datadeposit.MediaResourceManagerImpl</param-value>
    </context-param>
    <servlet>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2MediaResourceServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2MediaResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2MediaResourceServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1/swordv2/edit-media/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2MediaResourceServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1.1/swordv2/edit-media/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>statement-impl</param-name>
        <param-value>edu.harvard.iq.dataverse.api.datadeposit.StatementManagerImpl</param-value>
    </context-param>
    <servlet>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2StatementServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2StatementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2StatementServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1/swordv2/statement/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2StatementServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1.1/swordv2/statement/*</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>container-impl</param-name>
        <param-value>edu.harvard.iq.dataverse.api.datadeposit.ContainerManagerImpl</param-value>
    </context-param>
    <servlet>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ContainerServlet</servlet-name>
        <servlet-class>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ContainerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ContainerServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1/swordv2/edit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edu.harvard.iq.dataverse.api.datadeposit.SWORDv2ContainerServlet</servlet-name>
        <url-pattern>/dvn/api/data-deposit/v1.1/swordv2/edit/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>edu.harvard.iq.dataverse.api.datadeposit.SwordFilter</filter-name>
        <filter-class>edu.harvard.iq.dataverse.api.datadeposit.SwordFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>edu.harvard.iq.dataverse.api.datadeposit.SwordFilter</filter-name>
        <url-pattern>/dvn/api/data-deposit/v1.1/swordv2/edit-media/*</url-pattern>
    </filter-mapping>
    <!-- END Data Deposit API (SWORD v2) -->
</web-app>
