/* Note that this ""#aboutTwoRavens" class is about the subset functionality, not TwoRavens proper. */
#aboutTwoRavens {
    margin-top: 8px;
    display: block;
    width: 100px;
}

svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#subset {
  /*position: absolute;*/
  float:left;margin-right:.5em;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow:scroll;
  background-color: white;
  /*-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);*/
  pointer-events: none;
}

.arc path {
  stroke: #fff;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

#option.navbar {
    padding:.5em;
    margin-bottom:0;
}
#option {
    position:relative;
}

#leftpanel {
    border:1px solid #ADADAD;
    /* width: 20%; */
    height:578px;
    /* position:absolute;top:10px;left:10px; */
    background:#F9F9F9;
    padding: 0;
    /* padding-right:16px;padding-left:0;padding-top:0; */
    /* z-index:25; */
}

#tab1 p {
    width: 31.5%;
    float: left;
    margin-right: 8px;
}
#tab2 svg {
    min-height: 160px;
    max-width: 48%;
    margin-right: 8px;
}

div.popover {
    max-width:none;
    width:300px;
}

path { 
    fill: steelblue;
}

path.link.selected {
  stroke-dasharray: 10,3;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

.axis {
    height:40px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: .5;
  stroke-width: 1.25px;
  pointer-events: fill;
}
