name: "Guides Build Status"
on: 
  pull_request:
    paths:
      - "doc/sphinx-guides/**/*.rst"
      - "doc/sphinx-guides/**/requirements.txt"
      - "doc/sphinx-guides/**/conf.py"

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: uncch-rdmc/sphinx-action@master
      with:
        docs-folder: "doc/sphinx-guides/"
