name: Maven Unit Tests

on:
    push:
        paths:
            - "**.java"
    pull_request:
        paths:
            - "**.java"

jobs:
    unittest:
        name: (JDK ${{ matrix.jdk }} / ${{ matrix.os }}) Unit Tests
        strategy:
            fail-fast: false
            matrix:
                jdk: [ '11' ]
                experimental: [false]
                include:
                    - jdk: '17'
                      experimental: true
        continue-on-error: ${{ matrix.experimental }}
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Set up JDK ${{ matrix.jdk }}
            uses: actions/setup-java@v2
            with:
                java-version: ${{ matrix.jdk }}
                distribution: 'adopt'
          - name: Cache Maven packages
            uses: actions/cache@v2
            with:
                path: ~/.m2
                key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
                restore-keys: ${{ runner.os }}-m2
          - name: Build with Maven
            run: mvn -DcompilerArgument=-Xlint:unchecked -P all-unit-tests clean test
          - name: Maven Code Coverage
            env:
                CI_NAME: github
                COVERALLS_SECRET: ${{ secrets.GITHUB_TOKEN }}
            run: mvn -V -B jacoco:report coveralls:report -DrepoToken=${COVERALLS_SECRET} -DpullRequest=${{ github.event.number }}